/dist
/dist-complete
/dist-firefox
/dist-google
/variant-build
/webstore-package-complete
/webstore-package-firefox
/webstore-package-google
/mangabaka-url-finder-v*.zip
/.DS_Store
/.idea/
/.descriptions.xml
/.ai
/Css*.xml
/ES6MissingAwait.xml
/HtmlUnknownTarget.xml
/JS*.xml
/PointlessBooleanExpressionJS.xml
/SpellCheckingInspection.xml
/UnnecessaryContinueJS.xml
/report_*.sarif.json
/index.html
/script.js
/styles.css
/edge-*-dom.html
/temp-*.html
/temp-*.js
/temp-*.css
/tmp_*.txt
/tmp
/out-tsc
/playwright-report
/src/build-info.ts
/test-results
/tests
/DevelopmentSuggestions.md
/playwright.config.ts
/vitest.config.mts

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

/.vscode/
